{% extends "framework.html" %}
{% block content %}
<div class = "container-fluid">
  <div class = "row">
<div class="col-sm-3 col-md-2" style="
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;">
<div class="list-group" style = "text-align: center">
  <a href="{{ url_for('population_admin.index') }}" class="list-group-item active">Home</a>
  <a href="{{ url_for('population_admin.population') }}" class="list-group-item">Population</a>
  <a href="{{ url_for('population_admin.information') }}" class="list-group-item">Information</a>
  <a href="{{ url_for('population_admin.comments') }}" class="list-group-item">Comments</a>
</div>
</div>

<div class="col-sm-6  col-md-8 main">
  <div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Welcome to the administrator interface of 'Population'</p>
    <hr class="my-4">
    <p class ="lead">Please come and update the data!</p>
    <p class="lead">
      <a class="bbtn btn-outline-info btn-lg" href="information.html" role="button">Go to update</a>
    </p>
</div>
</div>



<div class="col-sm-3 col-md-2">
</div>
  </div>
</div>

{% endblock content %}
