{% extends "framework.html" %}
{% block content %}
        <div class="row clearfix">
            <div class="col-md-2 column">
                <h3 class="text-primary text-center">
                    <strong>同乘自查</strong>
                </h3>
                <ul class="nav flex-colomn nav-fill nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transport_admin.index') }}">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('transport_admin.issue') }}">高危班次发布</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transport_admin.exportuser') }}">用户信息导出</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transport_admin.sendemail') }}">邮件发送</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 column">
                <div class="container">
                    <h4 class="text-primary">
                        <svg class="bi bi-file-earmark-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z"/>
                            <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                            <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                        </svg>
                        <strong>高危班次发布</strong>
                    </h4>
                    <p>请填写高危班次信息，点击发布后即可添加至后台</p>
                </div>
                <div class="dropdown-divider"></div>
                <!--
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">疫情管控</a></li>
                        <li class="breadcrumb-item"><a href="#">同乘自查</a></li>
                        <li class="breadcrumb-item active" aria-current="page">高危班次发布</li>
                    </ol>
                </nav>-->
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="serialNumber">班次编号</label>
                        <input type="text" class="form-control" name="number" id="serialNumber" placeholder="班次编号" required>
                    </div>
                    <label for="radio1">班次类型</label>
                    <div class="form-group" id="radio1">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flightOrTrain" id="flightRadio" value="flight" required>
                        <label class="form-check-label" for="flightRadio">飞机</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flightOrTrain" id="trainRadio" value="train" required>
                        <label class="form-check-label" for="trainRadio">火车</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="serialNumber">起始站</label>
                    <input type="text" class="form-control" name="start" id="startLocation" placeholder="起始站" required>
                </div>
                <div class="form-group">
                    <label for="serialNumber">终点站</label>
                    <input type="text" class="form-control" name="end" id="destination" placeholder="终点站" required>
                </div>
                <div class="form-group">
                    <label for="flightDate">日期</label>
                    <input type="date" name="time" class="form-control" id="flightDate" required>
                </div>
                <button type="submit" class="btn btn-fresh">发布</button>
            </form>
            </div>
        </div>
{% endblock %}