{% extends "framework.html" %}
{% block content %}
        <div class="row clearfix">
            <div class="col-md-2 column">
                <h3 class="text-primary text-center">
                    <strong>同乘自查</strong>
                </h3>
                <ul class="nav flex-colomn nav-fill nav-pills justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transport_admin.index') }}">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transport_admin.issue') }}">高危班次发布</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('transport_admin.exportuser') }}">用户信息导出</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transport_admin.sendemail') }}">邮件发送</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 column">
                <div class="container">
                    <h4 class="text-primary">
                        <svg class="bi bi-box-arrow-in-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 8.146a.5.5 0 0 1 .708 0L8 10.793l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0v-9A.5.5 0 0 1 8 1z"/>
                            <path fill-rule="evenodd" d="M1.5 13.5A1.5 1.5 0 0 0 3 15h10a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 13 4h-1.5a.5.5 0 0 0 0 1H13a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5v-8A.5.5 0 0 1 3 5h1.5a.5.5 0 0 0 0-1H3a1.5 1.5 0 0 0-1.5 1.5v8z"/>
                        </svg>
                        <strong>用户信息导出</strong>
                    </h4>
                    <p>请输入高危班次的编号和日期，您将可以下载在该班次进行登记的用户的信息</p>
                </div>
                <!--如果加上导航栏就把这个分割线删掉-->
                <div class="dropdown-divider"></div>
                <!--导航栏，不确定最终风格，先不删了
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">疫情管控</a></li>
                        <li class="breadcrumb-item"><a href="#">同乘自查</a></li>
                        <li class="breadcrumb-item active" aria-current="page">用户信息导出</li>
                    </ol>
                </nav>
                -->
                <form action="" method="post">
                    <div class="form-group">
                        <label for="serialNumber">班次编号</label>
                        <input type="text" class="form-control" name="number" id="serialNumber" placeholder="班次编号">
                    </div>
                    <div class="form-group">
                        <label for="flightDate">日期</label>
                        <input type="date" class="form-control" name="time" id="flightDate">
                    </div>
                    <button type="submit" class="btn btn-fresh">导出</button>
                </form>
            </div>
        </div>
{% endblock %}