<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
{% extends "framework.html" %}
{% block content %}
 <div class="col-8">
    <div class="jumbotron">
        <img class="img-fluid"
            src="https://images.unsplash.com/photo-1590698763144-af7fa49b14c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            alt="">
    </div>
</div>
<div class="col-4 ml-0">
{% for message in get_flashed_messages() %}
<p style="color: cornflowerblue">{{ message }}</p>
{% endfor %}
  <h1>Log in</h1>

    <form action="" method="POST" name="login">
        {{form.hidden_tag()}}
        <p>
            E-mail :<br>
            {{form.email}}<br>
        </p>
         <p>
            身份证号 :<br>
            {{form.idcard}}<br>
        </p>
        <p>
            新密码:<br>
            {{ form.password }}
        </p>
         <p>
            确认密码:<br>
            {{ form.confirm_password }}
        </p>
          <p><input type="submit" value="修改密码">
        </p>
    </form>


</div>
{% endblock content %}