{% extends "framework.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <style>
        p.help-block {
            color: indianred;
            font-size: 12px;
        }

        .btn {
            display:inline-flex;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            margin-top: 20px;
            margin-left: 30%;
        }
    </style>
    <div class="col-4 offset-md-3">

        <h1>Login</h1>

 <small class="text-muted">
            Need An Account? <a href="{{ url_for('login.register') }}">Sign Up Now</a>
        </small>
        <hr/>
        {{ wtf.quick_form(form) }}
    <hr/>
        <small><a href="{{ url_for('login.forget') }}">Forgot Password?</a></small>


    </div>

{% endblock content %}
