{% extends "framework.html" %}
{% block content %}
<div class = "container-fluid">
  <div class = "row">
<div class="col-sm-3 col-md-2" style="
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;">
<div class="list-group" style = "text-align: center">
  <a href="{{ url_for('population_admin.index') }}" class="list-group-item">主页</a>
  <a href="{{ url_for('population_admin.population') }}" class="list-group-item">流动更新</a>
  <a href="{{ url_for('population_admin.information') }}" class="list-group-item">资讯更新</a>
  <a href="{{ url_for('population_admin.comments') }}" class="list-group-item active">评论监控</a>
</div>
</div>



<div class="col-sm-6  col-md-8 main">

  <ul class="nav nav-tabs">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">选择类型</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{url_for('population_admin.comt_information_check', itype=0)}}">复工复产</a>
      <a class="dropdown-item" href="{{url_for('population_admin.comt_information_check', itype=1)}}">社区管控</a>
      <a class="dropdown-item" href="{{url_for('population_admin.comt_information_check', itype=2)}}">交通出行</a>
      <a class="dropdown-item" href="{{url_for('population_admin.comt_information_check', itype=3)}}">医疗举措</a>
    </div>
  </li>
  </ul>
  <div class="list-group">
  {%for info in data%}
  <a href="{{url_for('population_admin.comment__check', iid=info.info_ID)}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">ID：{{info.info_ID}}</h5>
      <small>发布时间：{{info.info_time}}</small>
    </div>
    <p class="mb-1">标题：{{info.info_title}}</p>
  </a>
  {% endfor %}
  </div>

  <!-- <div class="list-group">
  <a href="comments_delete.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Info-id：这是一个样式</h5>
      <small>Info-time：这是一个样式</small>
    </div>
    <p class="mb-1">Info-title：这是一个样式</p>
  </a>
  <a href="comments_delete.html" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Info-id：这是一个样式</h5>
      <small>Info-time：这是一个样式</small>
    </div>
    <p class="mb-1">Info-title：这是一个样式</p>
  </a>
  </div> -->

  <br>


</div>

<div class="col-sm-3 col-md-2">
</div>
  </div>
</div>

{% endblock content %}
