{% extends "framework.html" %}
{% block content %}
<div class = "container-fluid">
  <div class = "row">
<div class="col-sm-3 col-md-2" style="
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f5f5f5;
    border-right: 1px solid #eee;">
<div class="list-group" style = "text-align: center">
  <a href="{{ url_for('population_admin.index') }}" class="list-group-item">主页</a>
  <a href="{{ url_for('population_admin.population') }}" class="list-group-item">流动更新</a>
  <a href="{{ url_for('population_admin.information') }}" class="list-group-item active">资讯更新</a>
  <a href="{{ url_for('population_admin.comments') }}" class="list-group-item">评论监控</a>
</div>
</div>

<div class="col-sm-6  col-md-8 main">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('population_admin.information') }}">Information Update</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Check&check</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=0)}}">复工复产</a>
        <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=1)}}">社区管控</a>
        <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=2)}}">交通出行</a>
        <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=3)}}">医疗举措</a>
      </div>
  </li>
  </ul>
  <br>

    {%for i in data%}
      <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" name="info_ID">ID: {{i.info_ID}}</h3>
            <h3 class="panel-title">发布时间: {{i.info_time}}</h3>
        </div>
        <div class="panel-body">
            标题: {{i.info_title}}
            <a  href="{{url_for('population_admin.delInfo', iid=i.info_ID)}}">
              <button class="btn btn-outline-danger" style="display:block;margin:0 auto">删除</button>
            </a>
        </div>
      </div>
    {% endfor %}

  <!-- <div class="panel panel-info">
    <div class="panel-heading">
    <div class = "row">
      <div class = "col-3">
        <h3 class="panel-title">Info-id: 这是一个样式</h3>
      </div>
      <div class = "col-9">
        <h4 class="panel-title">Info-title: 这是一个样式</h4>
      </div>
    </div>
    </div>
    <div class="panel-body">
        Info-text: 这是一个样式
    </div>
    <button type="button" class="btn btn-outline-danger" style="display:block;margin:0 auto" >check</button>
  </div> -->

</div>

<div class="col-sm-3 col-md-2">
</div>

  </div>
</div>

{% endblock content %}
