{% extends "framework.html" %}
{% block content %}
<div class = "container-fluid">
  <div class = "row">
<div class="col-sm-3 col-md-2" style="
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;">
<div class="list-group" style = "text-align: center">
  <a href="{{ url_for('population_admin.index') }}" class="list-group-item">主页</a>
  <a href="{{ url_for('population_admin.population') }}" class="list-group-item">流动更新</a>
  <a href="{{ url_for('population_admin.information') }}" class="list-group-item active">资讯更新</a>
  <a href="{{ url_for('population_admin.comments') }}" class="list-group-item">评论监控</a>
</div>
</div>

<div class="col-sm-6  col-md-8 main">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('population_admin.information') }}">资讯更新</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="True">删除资讯</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=0)}}">复工复产</a>
      <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=1)}}">社区管控</a>
      <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=2)}}">医疗举措</a>
      <a class="dropdown-item" href="{{url_for('population_admin.information_check', itype=3)}}">交通出行</a>
    </div>
  </li>

  </ul>
  <br>
  <form action="{{ url_for('population_admin.addInfo') }}" method="POST">
    <div class="form-group">
        <label for="info_type">类型</label>
          <select id="info_type" name="info_type" class="form-control">
            <option selected>请选择...</option>
            {% for option in type %}
            <option>{{ option }}</option>
            {% endfor %}
          </select>
      </div>
    <div class="form-group">
      <label for="info_title">标题</label>
      <textarea class="form-control" id="info_title" name="info_title" rows="1" aria-describedby="titleHelpBlock"></textarea>
        <small id="titleHelpBlock" class="form-text text-muted">
          标题必须少于30字
        </small>
    </div>
    <div class="form-group">
      <label for="info_text">资讯正文</label>
      <textarea class="form-control" id="info_text" name="info_text" rows="6" aria-describedby="textHelpBlock"></textarea>
        <small id="textHelpBlock" class="form-text text-muted">
          正文必须少于500字
        </small>
    </div>
    <button type="submit" class="btn btn-outline-info" style="display:block;margin:0 auto">提交</button>
  </form>

<div class="col-sm-3 col-md-2">
</div>
  </div>
</div>

{% endblock content %}
