{% extends "framework.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <strong>{{ message }}</strong></div>
                {% endfor %}
            </ul>
        {% endif %}
{% endwith %}
<!-- This part is the body of the website. Just simply replace the follwoing comments with your own codes. Attentnion: no <body> </body> part is needed-->
<div class="offset-1">
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('user.can_require')}}">申领进行中</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('user.required')}}">已申领</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">未申领</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('user.win')}}">中签</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{{url_for('user.wait_receive')}}">待收货</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="{{url_for('user.received')}}">已收货</a>
  </li>
</ul>
</div>

<hr />
<div class="col-3 offset-9">
    <p class="font-weight-bold">物资数量：</p>
</div>
<div class="col-10 offset-1" >
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">物资名称1</h5>
    </div>
    <div><small>每人领取数量：？只</small></div>
    <div><small>发布总数：</small></div>
    <div><small>申领截至时间：</small></div>
    <div> <small>当前状态：未申领</small></div>
      <hr />
      <div class="offset-11"><button type="button" class="btn btn-success ">申领</button></div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">物资名称2</h5>
    </div>
    <div><small>每人领取数量：？只</small></div>
    <div><small>发布总数：</small></div>
    <div><small>申领截至时间：</small></div>
    <div> <small>当前状态：未申领</small></div>
      <hr />
      <div class="offset-11"><button type="button" class="btn btn-success ">申领</button></div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">物资名称3</h5>
    </div>
    <div><small>每人领取数量：？只</small></div>
    <div><small>发布总数：</small></div>
    <div><small>申领截至时间：</small></div>
    <div> <small>当前状态：未申领</small></div>
      <hr />
      <div class="offset-11"><button type="button" class="btn btn-success ">申领</button></div>
  </a>
</div>
    </div>
{% endblock content %}
