{% extends "framework_situation.html" %}
{% block content %}
    </div>
<!-- This part is the body of the website. Just simply replace the follwoing comments with your own codes. Attentnion: no <body> </body> part is needed-->
<link rel="stylesheet" href="{{url_for('static',filename='css/data_page.css')}}">
<!-- <div class="container-fluid" style="padding:0;"> -->
<!-- <div class="row"> -->

<div class="container-fluid">
	<div class="row clearfix pt-2  text-center ">
		<div class="col-lg-8 column" style="margin-left: 0;margin-right: 0;padding-top: auto;">
			<div class="row text-center" style="padding-top: auto;">
				<div class="col-lg-10 ml-auto mr-auto" style="padding-top: 3rem;">
					<div class="pagetitle ml-auto mr-auto">新冠疫情实时数据</div>
					<div class="list-group list-group-horizontal">
						<div class="list-group-item" >
							<div class="DispalyLabel statistics_label">累积确诊</div>
							<div class="DisplayNum" style="color: #ff0000" id="confirm">-</div>
						</div>
						<div class="list-group-item">
							<div class="DispalyLabel">累积输入</div>
							<div class="DisplayNum" style="color: orange"  id="import">-</div>
						</div>
						<div class="list-group-item">
							<div class="DispalyLabel">累计死亡</div>
							<div class="DisplayNum"  style="color: #7f7f7f" id="mortality">-</div>
						</div>
						<div class="list-group-item">
							<div class="DispalyLabel">累积治愈</div>
							<div class="DisplayNum"  style="color: #00bf00" id="cure">-</div>
						</div>
						<div class="list-group-item">
							<div class="DispalyLabel">无症感染</div>
							<div class="DisplayNum" style="color: #7f7f00" id="asymptomatic">-</div>
						</div>
					</div>
				</div>
			</div>
			<div class="jumbotron col-lg-12 column" id="mapdiv">
				<div class="row ">
					<div class="col-lg-12 text-center "><label id="Region_Name" class="region_div ">当前显示地区：全国</label> </div>
				</div>
				<div class="row">
					<div class="col-3 column " style="padding-right: auto;margin-right: auto;">
				<button id="changeMap" class="btn" style="padding-left: auto;margin-left: auto;">切换现存确诊地图</button>
			</div>
			<div class="col-3 column">
				<button id="hubei_other" class="btn">显示非湖北疫情数据</button>
			</div>
			</div>
				<div id="Epi_map" style="width: 100%; padding-bottom: 3rem; padding-top: auto	;">
				</div>
				
				<div style="width: 100%; text-align: left;" class="text-center"><small>点击地图上区域可查看该地区趋势信息<br>点击地区将其纳入境外输入对比图或从中剔除<br>连续选中同一个地区切换回到全国</small></div>
			</div>
		</div>
		<div class="col-lg-4 column" style="margin-left: 0;margin-right: 0;">
			<div class="row pt-5" id="trendNationWideDiv">

				<div id="trendNationWide"></div>
			</div>
			<div class="row text-center " id="trendTotalDiv">
				<div id="trendTotal"></div>
			</div>
			<div class="row pt-5" id="trendDailyDiv">

				<div id="trendDaily"></div>

			</div>

			<div class="row pt-5" id="contrastWrapper">

				<div id="contrastGraph"></div>
			</div>


		</div>
	</div>
	<script src="{{url_for('static',filename='js/echarts.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/china.js')}}"></script>
	<script src="{{url_for('static',filename='js/Epi_map.js')}}"></script>
	<script>
          // 获取样例目标省份。可填各省名称、"全国"、"非湖北"。默认为"全国"
          var targetProvince = {% if province %}{{province}}{% else %}"全国"{% endif %};
	</script>
	<script src="{{url_for('static',filename='js/statistics.js')}}"></script>



</div>
{% endblock content %}