{% extends "framework.html" %}
{% block content %}
<!-- This part is the body of the website. Just simply replace the follwoing comments with your own codes. Attentnion: no <body> </body> part is needed-->




<!-- <div class="col-8">
    <div class="jumbotron">
        <img class="img-fluid"
            src="https://images.unsplash.com/photo-1590698763144-af7fa49b14c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            alt="">
    </div>
</div>
<div class="col-4 ml-0">
    <h4 class="ml-auto text-center">Hello, world!
        <p class="font-weight-light pt-4">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! </p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        <p class="font-weight-light pt-auto">Hello, world! <br></p>

        </p>
    </h4>
</div> -->
{% endblock content %}